body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    height: 100vh; /*преобладающий текст в бади*/
}

a { 
	text-decoration: none;
	color:#000000;
 } 

.header {
		display: flex;
		justify-content: space-between;
    background-color: #FFFFFF;
    color: black;
		align-items:center;
		padding: 30px 80px;
		white-space: nowrap;
}

.logo {
    font-size: 36px;
    font-weight: 500;
}

.navigation{
	display: flex;
		font-size: 24px;
		font-weight: 300;
		gap: 50px

}

.navigation a {
	margin-right: 46px;
}

.coffee_picture {
	height: 622px;
	display: flex;
  flex-direction: column;
	background-image: url(assets/image\ 1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
  align-items: center; /*располагает по неосновной оси, justify content - по основной*/
	justify-content: center;
	
}

.time{
	color: #FFFFFF;
	font-size: 60px;
	margin-bottom: 7px;
}

.line_picture {
	height: 10px;
	width: 80px;
	background-color: #817070;
	margin: 0 auto;
}

.story {
	/*height: 632px;*/
	background-color: #FFFFFF;
	padding: 50px 80px
}

.second_header {
	font-size: 36px;
	font-weight: 500;
	padding-top: 60px;
	margin: 0;
	text-align: center;
	margin-bottom: 60px;
}

.content{
	display: flex;
	align-items: center; /**/
	gap: 40px;

	
}

.picture {
	height: 100%;
	
}

.first_text{
	font-size: 20px;
	font-weight: 300;
	margin: 0;

}

.blog {
	background-color: #EFEFEF;
	padding-bottom: 60px;
}

.blocks{
	display: flex;
	justify-content: center;
	gap: 90px;
}

.card {
	width: 365px;
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}

.card_header{
	font-size: 24px;
	font-weight: 400;
	padding: 20px 0px 24px;
	text-align: left;
	margin: 0;
}

.card_picture {
	width: 100%;
	
}

.text{
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	padding-top: 24px;
	padding-bottom: 46px;
	margin: 0;
}

.subscribe{
	height: 337px;
	display: flex;
	flex-direction: column;
	background-color: #817070;
	color: #FFFFFF;
	text-align: center;
}

.around_subcribe{
	font-size: 36px;
	font-weight: 500;
	padding-top: 60px;
	margin: 0;
	margin-bottom: 28px;
}

.email_input{
	font-size: 20px;
	font-weight: 300;
	border: 3px solid #FFFFFF ;
	box-sizing: border-box;
	text-align: center;
	max-width: 300px;
	padding: 9px;
  display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	white-space: nowrap;
	background-color: #817070;
	color: #FFFFFF;
}

.email_input::placeholder{
	color: #FFFFFF;
}

.submit_button{
	font-size: 20px;
	font-weight: 500;
	color: #817070;
	width: 129px;
	background-color: #FFFFFF;
	margin: 0 auto;
	border: none;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submit_button:hover{
	background-color:#817070;
	color: #FFFFFF;
}

.footer{
	height: 72px;
	background-color: #FFFFFF;
}

.copy{
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 0; /*когда пишем auto, значит, что для вертикали 0, для горизонтали auto*/
	padding-top: 28px;
}
