body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    height: 100vh;
}

a { 
	text-decoration: none;
	color:#000000;
 } 

.header {
		display: flex;
    height: 110px;
		justify-content: space-between;
    background-color: #FFFFFF;
    color: black;
		align-items:center;
		padding: 20px 80px;
		white-space: nowrap;
}

.logo {
    font-size: 36px;
    font-weight: 500;
		padding: 29px 0px 0px 80px;
}

.navigation{
		font-size: 24px;
		font-weight: 300;
		padding: 37px 80px;
}

.navigation a {
	margin-right: 46px;
}

.navigation a:last-child {
	margin-right: 0;
}

.coffee_picture {
	height: 622px;
	background-image: url(assets/image\ 1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	display: flex;
  flex-direction: column;
  align-items: center; 
	justify-content: center;
	
}

.time{
	color: #FFFFFF;
	font-size: 60px;
	margin-bottom: 7px;
}

.line_picture {
	min-width: 80px;
}

.story {
	height: 632px;
	background-color: #FFFFFF;
}

.second_header {
	font-size: 36px;
	font-weight: 500;
	padding-top: 60px;
	margin: 0;
	text-align: center;
}

.content{
	display: flex;
	justify-content: space-between;
	
}

.picture {
	height: 100%;
	padding-left: 80px;
	margin-top: 60px;
}

.first_text{
	font-size: 20px;
	font-weight: 300;
	padding: 170px 123px;
}

.blog {
	height: 711px;
	background-color: #EFEFEF;
}

.blocks{
	display: flex;
	justify-content: center;
	gap: 90px;
}

.card {
	width: 365px;
	background-color: #FFFFFF;
	margin-top: 59px;
	padding-left: 20px;
	padding-right: 20px;
}

.card_header{
	font-size: 24px;
	font-weight: 400;
	padding: 20px 0px 24px;
	text-align: left;
	margin: 0;
}

.card_picture {
	width: 100%;
	
}

.text{
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	padding-top: 24px;
	padding-bottom: 46px;
	margin: 0;
}

.subscribe{
	height: 337px;
	display: flex;
	flex-direction: column;
	background-color: #817070;
	color: #FFFFFF;
	text-align: center;
}

.around_subcribe{
	font-size: 36px;
	font-weight: 500;
	padding-top: 60px;
	margin: 0;
	margin-bottom: 28px;
}

.email{
	font-size: 20px;
	font-weight: 300;
	border: 3px solid #FFFFFF ;
	box-sizing: border-box;
	text-align: center;
	max-width: 300px;
	padding: 9px 90px;
  display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	white-space: nowrap;
}

.submit{
	font-size: 20px;
	font-weight: 500;
	color: #817070;
	width: 129px;
	background-color: #FFFFFF;
	margin: 0 auto;
}

.end{
	height: 72px;
	background-color: #FFFFFF;
}

.copy{
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	padding-top: 28px;
}
